$primaryColor: rgb(253, 243, 136);
$secondaryColor: rgb(0, 183, 255);
$fontColor: #000000;
$menuColor: #A51C30;

$defaultFont: 'Poppins', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight:700;

$gutter: 16px;